body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 246, 246);
    background: linear-gradient(to right, #ff6a00, #ee0979);

    margin-top: 100px;
}

input{
    font-size: 20px;
}
.main{
    grid-column: span 4/ span 4 ;
    grid-row-start: 1;
    grid-column-start: 1 ;
    border: 1px solid black;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    border: none;
    width: 355px;
}
.parent{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    border: 1px solid black;
    gap: 10px;
    margin-top: 15px;
    width: 25vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 30px;
    border: none;
    
}
.child{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: none;
    height: 40px;
    font-size: 25px;
}
.child17{
    grid-column: span 2/ span 2;
    grid-row-start: 5;
    grid-column-start: 1;
    background-color: rgba(0, 89, 255, 0.514);
    }
.child18{
    grid-column: span 2/ span 2;
    grid-row-start: 5;
    grid-column-start: 3;

}
.child4{
    background-color: rgba(0, 89, 255, 0.514);
}

.child18{
    background-color: rgba(255, 0, 0, 0.507);
}
.child:hover{
    background-color: black;
    color: aliceblue;

}
.child:active{
background-color: aliceblue;
color: black;
}


@media screen and (max-width: 600px) {
    #display {
        margin-top: 350px;
        font-size: 1.4rem;
        height: 50px;
        width: 280px;
    }

    .child {
        font-size: 1.2rem;
        padding: 10px;
        gap: 10px;
        height: 20px;
        border-radius: 10px;
    }

    .parent{

        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(5,1fr);
        border: 1px solid black;
        gap: 10px;
        margin-top: 15px;
        width: 35vw;
        padding: 40px;
        background-color: rgba(0, 0, 0, 0.253);
        border-radius: 30px;
        border: none;
        
    }
    .Calculator-section{
        display: block;
        justify-content: center;
        align-items: center;
    }
}